Source: knx-installer
Section: admin
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5)
Standards-Version: 3.7.2

Package: knx-installer
Architecture: all
Depends: dialog, initramfs-tools, lilo, grub-gfxboot | grub, procps, udev-config-sidux, whois, os-prober
Suggests: gparted, xdialog, distro-defaults, 915resolution, kdm
Conflicts: ifrename, initscripts-kanotix
Description: installs sidux to hd
 sidux-installer is an fully functional installation program
 to easily install sidux to hd. It has support for config-files, 
 which allow more advanced usages.

