#!/usr/bin/make -f

DEB_AUTO_UPDATE_DEBIAN_CONTROL := yes

include /usr/share/cdbs/1/rules/buildcore.mk
include /usr/share/cdbs/1/rules/debhelper.mk

PACKAGE_VER   = "$(shell dpkg-parsechangelog | grep ^Vers | cut -d\  -f2)"

build/knx-installer::
	perl -pi -e "s|VERSION=.*|VERSION=\"$(PACKAGE_VER)\"|" $(CURDIR)/debian/knx-installer/usr/sbin/knoppix-installer
	
	# Gettext Internationalisation (i18n)
	DESTDIR=$(CURDIR)/debian/knx-installer po/make_po.sh knoppix-installer.mo
